.homeText {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;

  .title {
    width: 100%;
    font-weight: bold;
    animation: typing 2s steps(29), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
  }

  .sideTitle {
    position: relative;
    margin-top: 10px;
    color: lightgray;
    font-size: 13px;
    opacity: 0;
    transition: 1s;
  }

  .btns {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: 20px;
    opacity: 0;
    display: flex;
    justify-content: center;
    transition: 1s;

    img {
      background-color: white;
      padding: 5px;
      border-radius: 4px;
      margin-left: 10px;
      cursor: pointer;

      &:hover {
        transform: translateY(-3px);
      }
    }
  }

  @keyframes move {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}
